.contactItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 8px;
    flex-grow: 1;
    align-items: center;
  }
  
  .contactInfo {
    font-weight: bold;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  
  .deleteButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px; 
    text-decoration: none;
  }
  
  .deleteButton:hover {
    background-color: #0056b3;
  }

.buttonContainer {
  display: flex;
  gap: 10px; 
  align-items: center;
}