.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f8ff; /* Delikatne tło */
    padding: 20px;
  }
  
  .loginPageTitle {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px;
  }
  