/* Ogólny styl dla nawigacji */
/* Jeśli używasz zarówno klasy .nav, jak i elementu <nav> */
.nav, nav {
  display: flex;
  gap: 20px;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: underline;
  width: 100%;
}


/* Styl dla wszystkich linków */
.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000; 
  font-weight: 600;
  padding: 0px;
  border-radius: 4px;
  transition: color 0.3s ease, transform 0.2s ease;
}

/* Efekt hover dla linków */
.link:hover {
  color: #313131; 
  transform: scale(1.1); 
}


.link.active {
  color: #313131;
  font-weight: 700;
}

.home {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000; 
  font-weight: 600;
  transition: color 0.3s ease, transform 0.2s ease;
}

.home:hover {
  color: #313131;
  transform: scale(1.1); 
}

.welcomeMsg {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 100%; 
  padding-right: 20px; 
}

